#create_project{
    display: flex;
    flex-direction: column;
}
.input_ 
{
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    width: 95%;
}
.input_:focus 
{
    outline-color: white;
}