#create-issue
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: none;
}
#create-issue input,select
{
    margin-bottom: 10px;
}
#create-issue-button
{
    
  
    display: flex;
    justify-content: space-evenly;
}

.input_issue
{
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    width: auto;
}
.input_issue:focus 
{
    outline-color: white;
}