@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
#create-people
{
    display: flex;
    flex-direction: column;
    margin: auto 0 0 0;
}
.input 
{
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    width: auto;
}
#create-people label
{
    color: black;
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

#create-people-button
{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
   
   .input:focus {
    outline-color: white;
   }

 /*reset button */
 .reset_ {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .reset_, .reset_ span {
    transition: 200ms;
   }
   
   .reset_ .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .reset_ .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .reset_ svg {
    width: 15px;
    fill: #eee;
   }
   
   .reset_:hover {
    background: #ff3636;
   }
   
   .reset_:hover .text {
    color: transparent;
   }
   
   .reset_:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .reset_:focus {
    outline: none;
   }
   
   .reset_:active .icon svg {
    transform: scale(0.8);
   }  

   /*add button */
.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
   }
   
   .cssbuttons-io-button svg {
    margin-right: 6px;
   }
   
   .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
   }
   
   .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
   }